<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Anurag Nagar" />
    <title>Article Bucket - Read Daily Headlines</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body id="page-top">
    <div class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #212529;">
        <div class="container px-4 justify-content-between">
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="" srcset="" width="33" height="33">
                <h2 class="ms-1"><a class="navbar-brand" href="{{ url_for('index') }}">Article Bucket</a></h2>
            </div>
            <form method="get" action="{{ url_for('search_news') }}">
                <div class="d-flex w-0">
                    <input type="search" name="q" class="navbar-search rounded-2" style="border: 1px solid #404040;"
                        title="Search for News Here" placeholder="Search news here.." aria-label="Search"
                        aria-describedby="search-addon" required />
                    <button class="navbar-search-button border-0" id="search-button" title="Search" type="submit">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="navbar navbar-expand-lg sticky-top" style="background-color: #263444;">
        <div class="container">
            <div class="d-flex justify-content-center w-100">
                <ul class="navbar-nav-2">
                    <li class="nav-item {% if request.path == url_for('index') %}nav-active{% endif %}"><a
                            class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='entertainment') == request.path %}nav-active{% endif %}">
                        <a class="nav-link"
                            href="{{ url_for('news_category', category='entertainment') }}">Entertainment</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='business') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='business') }}">Business</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='general') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='general') }}">General</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='healths') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='healths') }}">Healths</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='sports') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='sports') }}">Sports</a></li>
                    <li
                        class="nav-item {% if url_for('news_category', category='technology') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='technology') }}">Technology</a>
                    </li>
                    <li
                        class="nav-item {% if url_for('news_category', category='science') == request.path %}nav-active{% endif %}">
                        <a class="nav-link" href="{{ url_for('news_category', category='science') }}">Science</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- Footer-->
    <footer class="py-5" style="background-color: #18191a;border-top:1px solid #404040;">
        <div class="container px-4">
            <div class="row justify-content-center">
                <p class="m-0 text-center text-white">Copyright &copy; <b>Article Bucket</b> 2023</p>
            </div>
        </div>
    </footer>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>